<nz-card style="width:500px;" nzTitle="Drives">
    <nz-list [nzDataSource]="_drives" [nzItemLayout]="'horizontal'" [nzLoading]="loading" [nzRenderItem]="item" [nzLoadMore]="loadMore">
        <ng-template #item let-item>
            <nz-list-item>
                <nz-list-item-meta [nzTitle]="nzTitle" nzDescription="{{formatBytes(item.usedSpace)}} \ {{formatBytes(item.totalSpace)}}">
                    <ng-template #nzTitle>
                        <strong>
                            <i class="anticon anticon-hdd"></i>
                            {{item.name}}
                        </strong>
                        <nz-progress [nzPercent]="usedPercent(item)" nzStatus="active"></nz-progress>
                    </ng-template>
                </nz-list-item-meta>
            </nz-list-item>
        </ng-template>
    </nz-list>
</nz-card>
