<div class="wrapper">
  <!-- <div>
    <app-cpu-usage></app-cpu-usage>
  </div>
  <div>
    <app-ram-usage></app-ram-usage>
  </div>
  <div>
    <app-system-information></app-system-information>
  </div> -->
  <div>
    <app-proc-list></app-proc-list>
  </div>
  
  <div>
      <app-proc-list></app-proc-list>
    </div>
    <div>
        <app-proc-list></app-proc-list>
      </div>
      <div>
          <app-proc-list></app-proc-list>
        </div>
        <div>
            <app-proc-list></app-proc-list>
          </div>

</div>