<nz-card nzTitle="Processes" [nzExtra]="extraTemplate">
    <nz-table #basicTable [nzData]="processes" nzPageSize="10" nzTotal="10">
        <thead>
            <tr>
                <th>PID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Memory</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let process of processes">
                <td>{{process.pid}}</td>
                <td>{{process.name}}</td>
                <td>{{process.status}}</td>
                <td>{{formatBytes(process.workingSet, 1)}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
